<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemwick.coffeetrack">

    <uses-feature
        android:name="android.software.app_widgets"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:name=".CoffeeWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <provider
            android:name=".data.CoffeeProvider"
            android:authorities="com.nemwick.coffeetrack"
            android:exported="false" />

        <activity
            android:name=".CoffeeStatsActivity"
            android:label="@string/activity_coffee_stats_label"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".SessionActivity"
            android:label="@string/timed_session"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>